.swiper-button-next,
.swiper-button-prev {
  background-color: #edbb1c;
  color: white !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 18px !important;
  font-weight: bold;
}

.swiper-pagination-bullet-active {
  background-color: #edbb1c !important;
}

/* Custom styles for center slide */
.swiper-slide-active {
  z-index: 1;
}

@media (min-width: 1024px) {
  .swiper-slide:nth-child(3n + 2) {
    z-index: 1;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .swiper-slide:nth-child(2n + 1) {
    z-index: 1;
  }
}
/* Hides Navigation Dots below the slides */
.swiper-pagination {
  display: none !important;
}
